*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #FCFCFC;
}

h1{
	font-family: 'Cabin', sans-serif;
}

#principal{
	background-color: #16161D;
}

.central-imagen{
	height: 70vh;
	margin-top: 70px;
	width: auto;
}

.central-h1{
	font-family: 'Cabin', sans-serif;
	color: #FFF;
	font-size: 50px;
	font-weight: bold;
	margin-top: 150px;
	text-transform: uppercase;
}

.central-p{
	color: #FFF;
	font-size: 20px;
}


.ola{
	height: 15vh;
	width: 100%;
}

#servicios{

}

.servicios-h1{
	font-size: 50px;
	text-align: center;
	margin-top: 50px;
}

.flag{
	height: 30%;
	max-width: 100%;
}

.servicios-h3{
	margin-top: 50px;
}

@media only screen and (max-width: 600px) {

.central-imagen{
	height: 50vh;
	max-width: 100%;
	margin-top: 10px;
}

.central-h1{
	font-size: 50px;
	margin-top: 0;
	font-weight: bold;
	text-transform: uppercase;
}

.btn-primary{
	margin-bottom: 20px;
}

.ola{
	height: 10vh;
	width: 100%;
}

/* SECCION SERVICIOS */

.servicios-h3{
	margin-top: 0px;
}

.flag{
	height: 90%;

}
	

}